@page "/peliculas"
@using BlazorApp1.Client.Services;
@using BlazorApp1.Shared
@inject HttpClient Http
@inject NavigationManager NavigationManager
@inject PeliculasService peliculasService
@inject GenerosService generosService
@inject ProyeccionesService proyeccionesService

<PageTitle> Peliculas</PageTitle>

@if (peliculasService.ListaPeliculas.Count==0 || generosService.ListaGeneros.Count==0)
{
    <div class="d-flex justify-content-center loading h-100">
        <div class="spinner-border  text-light" role="status">
        </div>
    </div>
}
else
{
    <div class="Maincontainer">
        <div>
            <div>
                <nav class="flex-column Genero-container">
                    @foreach (Genero item in generosService.ListaGeneros)
                    {
                    <div>
                        <button class="Button-Genero">@item.Nombre</button>
                    </div>
                    }
                </nav>
            </div>
        </div>
        <div class="ContainerPeliculas">

            @foreach (Pelicula item in peliculasService.ListaPeliculas)
            {
                <img src=@item.PeliculaUrlImagen class="Peliculas" id="@item.IdPelicula" @onclick="@(e => SeleccionarPelicula(item.IdPelicula))"/>
            }
            <div class="Footer-images">

            </div>
        </div>
        <div class="Details2">
            <div class="Details">

                <img src="@peliculasService.PeliculaSeleccionada?.PeliculaUrlImagen" class="imagePelicula" />

                <div class="ContainerInfoPelicula">
                    <h2 class="TituloPelicula">@peliculasService.PeliculaSeleccionada?.Nombre</h2>
                    <span></span>
                    <span>calificacion: @peliculasService.PeliculaSeleccionada?.Clasificacion</span>
                    <span class="Sinopsis"> @peliculasService.PeliculaSeleccionada?.Sinopsis</span>
                    <section class="Proyecciones">

                    @if(proyeccionesService.ListaProyecciones.Count > 0)
                    {
                    <div>
                        @foreach (Proyeccion unaP in proyeccionesService.ListaProyecciones)
                        {

                            <div>
                                <span>@unaP.FechaHora.ToString()</span>
                                <span>@unaP.Monto</span>
                            </div>
                        }
                    </div>
                    }
                    else
                    {
                        <span>No hay Proyecciones</span>                   
                    }
                    </section>
                </div>
            </div>
        </div>

    </div>
}

@code {
    //private Pelicula PeliculaSeleccionada;

    /*private async Task GetPeliculaPorId(int id)
    {
        PeliculaSeleccionada = await Http.GetFromJsonAsync<Pelicula>($"https://localhost:7200/api/peliculas/byid/{id}");
    }*/

    private async Task SeleccionarPelicula (int id)
    {
        try
        {
            peliculasService.SeleccionarPelicula(id);
            await proyeccionesService.GetListaProyeccion(id);
            StateHasChanged();
        }catch(Exception ex)
        {
            
        }

    }
    protected override async Task OnInitializedAsync()
    {
        await peliculasService.GetListaPeliculas();
        await generosService.GetListaGeneros();
        peliculasService.SeleccionarPelicula(peliculasService.ListaPeliculas[0].IdPelicula);
        await proyeccionesService.GetListaProyeccion(peliculasService.ListaPeliculas[0].IdPelicula);
        StateHasChanged();
    }

    private void UpdatePage()
    {
        StateHasChanged();
    }
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender) peliculasService.DataChanged += UpdatePage;
    }

    
}


<style>
    .Peliculas{
        height: 400px;
        width: 250px;
        margin: 9px 8px 8px 8px;
        cursor:pointer;
        outline: 1px solid #373737;
    }
    .Peliculas:hover{
        transform:scale(1.05);
    }
    .Details{
        position: fixed;
        height:820px;
        right:0;
        border: 1px solid #373737;
        overflow:hidden;
        margin:5px;
        
    }
    .Details2{
        min-width:435px;
        display:flex;
        align-items:center;
        height:86vh;
        justify-content:center;
    }
    .Maincontainer{
        min-height:90vh;
        display:flex;
        justify-content:space-between;
    }
    .containerPeliculas{
        display:flex;
        flex-wrap:wrap;
        padding-bottom:10px;
    }
    .Footer-images{
        height:25px;
    }
    .imagePelicula{
        width:435px;
        height:88vh;
        background-size:cover;
        filter: blur(4px) brightness(70%);
        opacity:1.5;
        z-index:-1;
        
    }
    .ContainerInfoPelicula{
        position:absolute;
        z-index:100;
        top: 30px;
        left:15px;
        color:white;
        display:flex;
        flex-direction:column;
    }
    .Genero-container{
        padding-left:5px;
        padding-top:10px;
        width:120px;
    }
    .Button-Genero{
        width:100%;
    }
    .TituloPelicula{
        font-size:35px;
        text-shadow: 1px 1px 2px black;
    }
    .Sinopsis{
        font-size:20px;
        text-shadow: 1px 1px 2px black;
    }
    .loading{
        align-items:center;
    }

</style>